fastapi[standard]
python-dotenv
pydantic-settings

langchain
langchain-core
langchain-groq
langgraph
langchain-community
langchain-text-splitters

sentence-transformers

psycopg[binary]
pgvector
sqlalchemy

pypdf
httpx

pytest
pytest-asyncio

supabase